@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

body,
#__next {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.home {
  background-image: url("/chateau.png");
  background-size: cover;
  background-position-x: 48%;
}

@utility home-large {
  background-position-y: 80%;
}

@utility staff-large {
  background-position-y: 70%;
  background-position-x: 50%;
  background-clip: ;
  
}

.group1 {
  background-image: url("/orange.png");
  background-size: cover;
  
}

.group2 {
  background-image: url("/vert.png");
  background-size: cover;
}

.group3 {
  background-image: url("/violet.png");
  background-size: cover;
}

